<p>
  <b>Edit Your Profile:</b>
</p>

<div class="form-box">
  <p>
    <b><%== @username %></b>
  </p>

  <form action="/user/edit" method="post">
    <% @profile.each do |attribute, value| %>

    <div class="form-box field">
      <label for="edit-profile"><%== attribute.capitalize %>:
        <input type="text" name="<%== attribute %>" id="<%== attribute %>" value="<%== value %>">
      </label>
    </div>

    <% end %>

    <div class="field-button">
      <button type="submit">Submit</button>
    </div>
  </form>

  <div class="field-button">
    <form action="/user" method="get">
      <button type="submit">Cancel</button>
    </form>
  </div>
</div>

<div class="form-box">
  <div class="field-button">
    <form action="/user/delete" method="post">
      <button type="submit">Delete Account</button>
    </form>
  </div>
</div>
