<div class="feed">
  <article class="post new_post">
    <p><b>+</b></p>
    <a href="/new-kindness">
      <span></span>
    </a>
  </article>

  <% @posts.each_pair do |k, v| %>

    <article class="post">
      <div class="post content">
        <p><%== v['description'] %></p>
      </div>

      <div class="post metadata">
        <p>
          Kindness by <%== v['posted_by'] %>
        </p>
        <p>
          <% if v['liked_by'] %>
            <img src="/icons/like-on.png" alt="has likes" width="12" height="12"> <%== v['liked_by'] ? v['liked_by'].count : 0 %>
          <% else %>
            <img src="/icons/like-off.png" alt="no likes yet" width="12" height="12"> <%== v['liked_by'] ? v['liked_by'].count : 0 %>
          <% end %>
          <img src="/icons/comments.png" alt="no likes yet" width="12" height="12"> <%== v['comment'] ? v['comment'].count : 0 %>
        </p>
      </div>

      <a href="/kindness/<%== k %>">
        <span></span>
      </a>
    </article>

  <% end %>

</div>
