<div id="current-post">
  <article class="post current">
    <div class="post content current">
      <p><%== @kindness['description'] %></p>
    </div>

    <div class="post metadata current">
      <p>Kindness by <%== @kindness['posted_by'] %></p>
      <p>
        <% if @kindness['liked_by'] %>
          <img src="/icons/like-on.png" width="12" height="12">
        <% else %>
          <img src="/icons/like-off.png" width="12" height="12">
        <% end %>
        <%== format_likes_from(@kindness['liked_by']) %>
      </p>
      <p>
        <img src="/icons/comments.png" width="12" height="12"> <%== @kindness['comment'] ? @kindness['comment'].count : 0 %>
      </p>
    </div>
  </article>
</div>

<% if @valid_user %>
  <div>
    <form action="/kindness/<%== @kindness['post_id'] %>/delete" method="post">
      <button type="submit">Delete Kindness</button>
    </form>
  </div>
<% end %>
