<div class="current post">
  <article class="current post">
    <div class="content">
      <p><%== @kindness['description'] %></p>
    </div>

    <div class="metadata">
      <p class="likes">
        Kindness by <%== @kindness['posted_by'] %>
      </p>

      <div>
        <% if @user %>

          <form action="/kindness/<%== @kindness['post_id'] %>/like" method="post" class="likes">
            <% if user_likes?(@kindness) %>
              <input type="image" src="/icons/like-on.png" width="12" height="12" class="likes">
            <% else %>
              <input type="image" src="/icons/like-off.png" width="12" height="12" class="likes">
            <% end %>
          </form>

        <% else %>

          <% if user_likes?(@kindness) %>
            <img src="/icons/like-on.png" width="12" height="12" class="likes">
          <% else %>
            <img src="/icons/like-off.png" width="12" height="12" class="likes">
          <% end %>

        <% end %>

          <p class="likes">
            <%== format_likes_from(@kindness['liked_by'], @user) %>
          </p>
      </div>

      <div>
        <!-- need a button and input field -->
        <img src="/icons/comments.png" width="12" height="12" class="likes">
        <p class="likes">
          <%== @kindness['comment'] ? @kindness['comment'].count : 0 %>
        </p>
      </div>
    </div>
  </article>
</div>

<% if @user_created_kindness %>
  <div>
    <form action="/kindness/<%== @kindness['post_id'] %>/delete" method="post">
      <button type="submit">Delete Kindness</button>
    </form>
  </div>
<% end %>
