<div class="current post">
  <article class="current post">
    <div class="content">
      <p><%== @post['description'] %></p>
    </div>

    <table class="metadata">
      <tr>
        <td></td>

        <td class="center">
          <p>
            Kindness by <a href="/user/<%== @post['user_id'] %>"><%== @post['posted_by'] %></a>
          </p>
        </td>
      </tr>

      <tr>
        <td class="left">
          <% if @user %>

            <form action="/kindness/<%== @post['post_id'] %>/like" method="post">
              <% if user_likes?(@post) %>
                <input type="image" src="/icons/like-on.png" width="18" height="18">
              <% else %>
                <input type="image" src="/icons/like-off.png" width="18" height="18">
              <% end %>
            </form>

          <% else %>

            <% if user_likes?(@post) %>
              <img src="/icons/like-on.png" width="18" height="18">
            <% else %>
              <img src="/icons/like-off.png" width="18" height="18">
            <% end %>

          <% end %>
        </td>

        <td class="center">
          <p>
            <%== format_likes_from(@post['liked_by'], @user) %>
          </p>
        </td>
      </tr>

      <% if @user && @post['comments'] %>

        <tr id="comment-line">
          <td class="left">
            <img src="/icons/comments.png" width="18" height="18">
          </td>

          <td class="center">
            <form name="comment" action="/kindness/<%== @post['post_id'] %>/comment/new" method="post">
              <input input="text" name="new-comment" id="comment-field">
            </form>
          </td>

          <td class="right">
            <input for="comment" type="image" src="/icons/paper-plane.png" width="18" height="18">
          </td>
        </tr>
        <% @post['comments'].each_pair do |_, comment| %>
          <tr>
            <td></td>

            <td class="center">
              <p><a href="/user/<%== comment['user_id'] %>"><b><%== comment['commented_by'] %></b></a>: <%== comment['comment'] %></p>
            </td>
          </tr>
        <% end %>

      <% elsif !@user && @post['comments'] %>

        <tr>
          <td class="left">
            <img src="/icons/comments.png" width="18" height="18">
          </td>
        </tr>
        <% @post['comments'].each_pair do |_, comment| %>
          <tr>
            <td></td>

            <td class="center">
              <p><b><%== comment['commented_by'] %></b>: <%== comment['comment'] %></p>
            </td>
          </tr>
        <% end %>

      <% elsif @user && !@post['comments'] %>

        <tr id="comment-line">
          <td class="left">
            <img src="/icons/comments.png" width="18" height="18">
          </td>

          <td class="center">
            <form name="comment" action="/kindness/<%== @post['post_id'] %>/comment/new" method="post">
              <input input="text" name="new-comment" id="comment-field">
            </form>
          </td>

          <td class="right">
            <input for="comment" type="image" src="/icons/paper-plane.png" width="18" height="18">
          </td>
        </tr>

        <tr>
          <td></td>

          <td class="center">
            <p>No comments yet</p>
          </td>
        </tr>

      <% else %>

        <tr id="comment-line">
          <td class="left">
            <img src="/icons/comments.png" width="18" height="18">
          </td>

          <td class="center">
            <p>No comments yet</p>
          </td>
        </tr>

      <% end %>

    </table>
  </article>
</div>

<% if @user_created_post %>
  <div>
    <form action="/kindness/<%== @post['post_id'] %>/delete" method="post">
      <button type="submit">Delete Kindness</button>
    </form>
  </div>
<% end %>
